# Showing Default values for all config settings
# To override, create a file called .env next to this one
# and set the values there

LOG_LEVEL=INFO # DEBUG, INFO, WARNING, ERROR

DELTA_ENDPOINT=http://localhost:1066/
PATCH_LOG=myds
SPARQL_ENDPOINT=http://localhost:3030/myds/sparql
HTTP_TIMEOUT=60

RDF_VOLUME_MB=2

NUM_QUERIES=10
QUERY_CONCURRENCY=5
