@prefix schema: <http://schema.org/> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

{% for x in data %}
<https://example.org/{{ x['id'] }}> a schema:Book ;
	schema:title "{{ x['title'] }}" ;
	schema:description "{{ x['description'] }}" ;
.

{% endfor %}
