@prefix schema: <https://schema.org/> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix geo: <http://www.opengis.net/ont/geosparql#> .

{% for row in data %}
<https://example.org/{{ row['id'] }}>
    a schema:TouristDestination ;
	schema:name "{{ row['name'] }}" ;
	schema:review """{{ row['review'] }}""" ;
	schema:geo [
	  a schema:GeoCoordinates ;
	  geo:asWKT "{{ row['wkt_coords'] }}" ;
	]
.
{% endfor %}
